[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"

[dev-packages]
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
